html {
    background: hsl(226, 43%, 10%);
}
.container {
    margin: 20vh auto;
    width: 80vw;
    height: 53vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;

}

div {
    background: teal;
}

.mainBox {
    grid-row: 1 / 3;
}

.jeremyBox {
    height: 70%;
    background: hsl(246, 80%, 60%);
}

.selectors {
    cursor: pointer;
}

.image--work {
    height: 15%;
    background: blueviolet url(images/icon-work.svg) no-repeat 93%;
}

.image--play {
    height: 15%;
    background: blueviolet url(images/icon-play.svg) no-repeat 93%;
}

.image--study {
    height: 15%;
    background: blueviolet url(images/icon-study.svg) no-repeat 93%;
}

.image--exercise {
    height: 15%;
    background: blueviolet url(images/icon-exercise.svg) no-repeat 93%;
}

.image--social {
    height: 15%;
    background: blueviolet url(images/icon-social.svg) no-repeat 93%;
}

.image--selfCare {
    height: 15%;
    background: blueviolet url(images/icon-self-care.svg) no-repeat 93%;
}