html {
    background: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
}
.container {
    margin: 20vh auto;
    width: 1200px;
    height: 496px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;

}

.mainBox {
    grid-row: 1 / 3;
}

.border {
    background: hsl(235, 46%, 20%);
    border-radius: 16px;
    position: relative;
}

.jeremyBox {
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 70%;
    background: hsl(246, 80%, 60%);
    
}

.jeremyBox img {
    width: 28%;
    margin: 3vh 2vw;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 4vw;
}

.jeremyBox--text {
    margin: 0 2vw 0;
}

.box--selectors {
    display: flex;
    flex-direction: column;
    gap: 22px;
    color: hsl(235, 45%, 61%);
    font-weight: 400;
    margin: 3vh 2vw;
}

.flexBox--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;         

}

.flexBox--hour {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.title {
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.light--text {
    font-weight: 300;
    color: hsl(236, 100%, 87%);
    
}


.jeremy--name {
    color: white;
    font-weight: 300;
    font-size: 34px

}

.current--hour {
    color: white;
    font-weight: 300;
    font-size: 48px

}

.last--week {
    font-weight: 300;
    color: hsl(236, 100%, 87%);
}

.selectors {
    cursor: pointer;
}

.border--image {
    border-radius: 16px 16px 0 0;
    height: 28%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;

}

.text--box {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 10% 10% 0px;
    background: hsl(235, 46%, 20%);
    border-radius: 14px 14px 0 0;
    position: absolute;
    width: 80%;
    height: 60%;
    top: 20%;
    z-index: 20;
}

.image--work {
    background: hsl(15, 100%, 70%) url(images/icon-work.svg) no-repeat 93% 75%;
}

.image--play {
    background: hsl(195, 74%, 62%) url(images/icon-play.svg) no-repeat 93%;
}

.image--study {
    background: hsl(348, 100%, 68%) url(images/icon-study.svg) no-repeat 93%;
}

.image--exercise {
    background: hsl(145, 58%, 55%) url(images/icon-exercise.svg) no-repeat 93% 0;
}

.image--social {
    background: hsl(264, 64%, 52%) url(images/icon-social.svg) no-repeat 93% 45%;
}

.image--selfCare {
    background: hsl(43, 84%, 65%) url(images/icon-self-care.svg) no-repeat 93% -10px;
}