.container {
    margin: 20vh auto;
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;

}

div {
    background: teal;
}

.mainBox {
    grid-row: 1 / 3;
}